# General
.DS_Store
Thumbs.db
*.log
logs
*.local

# SCV / IDE
front/.env
.idea/
*.iws
*.iml
*.ipr
.vscode/
!.vscode/extensions.json
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Otros
HELP.md